@charset "utf-8";
*{margin:0;padding:0;list-style:none;}

body{
	font-size: 14px;
	font-family: Microsoft YaHei;
	background-image: url(../img/banner.jpg);
	background-repeat: repeat-x;
}
a{ text-decoration:none; color:#333;}
/*a:hover { COLOR:#01438d;}*/
a:hover, a:active{
	color:#f40;
	
}

.header{
	width: 1000px;
	position: relative;
	height: 250px;
	/*	overflow: visible;
	z-index: 1001;
*/	background-image: url(../img/header%E4%B8%AD%E5%9B%BE%E7%89%87.jpg);
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
.menu{
	line-height: 50px; /*背景*/
	height: 50px;
	width: 1000px;
	margin: auto;
	font-size: 12px;
	background: #0885C8;
	/*margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;*/
}
.menu li{ list-style:none;float:left;/*padding:0 10px;*/width:83px;text-align: center;background:#0885C8;}
.menu li a,link{color:#fff;}
/*.menu li a:link{color:#fff;}*/
.menu li a:hover{
	display: block;
    margin: 3px 0;
    width: 83px;
    height: 44px;
    line-height: 44px;
    background: #045480;
    color: #fff;
    text-decoration: none;
    text-align: center;
	-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
	}
.top {
	height: 290px;
	width: 1000px;
	margin: auto;
}

.wrap{
	width: 1000px;
	height: 300px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


.left{
	width: 498px;
	height: 300px;
	float: left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #69F;
	border-right-color: #69F;
	border-bottom-color: #69F;
	border-left-color: #69F;
	
}

.right{
	display: inline;
	width: 498px;
	height: 300px;
	float: right;
	border: 1px solid #d7e1ea;
	border-right-width: 1px;
	border-bottom-width: medium;
	border-left-width: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #69F;
    border-bottom-color: #69F;
	}

.title {
	line-height: 30px;
	border-bottom: 1px solid #d7e1ea;/*#0F71A0;*/
	color:#0F71A0;
	font-weight: bold;
	text-indent: 10px;
	font-size:14px;
	background-color: rgba(121, 175, 202, 0.14);
}
.title_right {
    float: right;
    text-align: right;
}
.notice {
	width: 100%;
}
.notice span{ 
    float: right;
  color: #9E9E9E;
    padding-right: 5px;
}
	
.notice li {
   list-style-type: square;
    padding-top: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #9E9E9E;
    margin-left: 24px;
}
.notice li a {
    text-decoration: none;
}

.right_news{
	
    width: 100%;
}
.news  {width:100%;}
.news li {
	list-style-type: square;
    padding-top: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #9E9E9E;
    margin-left: 24px;
}
.news span {
    float: right;
   color: #9E9E9E;
    padding-right: 5px;
}

.news li a {
    text-decoration: none;
}
.footer{
	clear: both;
	width: 1000px;
	height: 80px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #CCCCCC;
}
.footer p{
	line-height: 48px;
    height: 37px;
	text-align: center;
}


 * { 
 padding: 0px; 
 margin: 0px; 
 } 
 a { 
 text-decoration: none; 
 } 
 ul { 
 list-style: outside none none; 
 } 
 .slider, .slider-panel img, .slider-extra { 
 width: 1000px; 
 height: 290px; 
 } 
 .slider { 
 text-align: center; 
 margin: 30px auto; 
 position: relative; 
 } 
 .slider-panel, .slider-nav, .slider-pre, .slider-next { 
 position: absolute; 
 z-index: 8; 
 } 
 .slider-panel { 
 position: absolute; 
 } 
 .slider-panel img { 
 border: none; 
 } 
 .slider-extra { 
 position: relative; 
 } 
 .slider-nav { 
 margin-left: -51px; 
 position: absolute; 
 left: 50%; 
 bottom: 4px; 
 } 
 .slider-nav li { 
 background: #3e3e3e; 
 border-radius: 50%; 
 color: #fff; 
 cursor: pointer; 
 margin: 0 2px; 
 overflow: hidden; 
 text-align: center; 
 display: inline-block; 
 height: 18px; 
 line-height: 18px; 
 width: 18px; 
 } 
 .slider-nav .slider-item-selected { 
 background: blue; 
 } 
 .slider-page a{ 
 background: rgba(0, 0, 0, 0.2); 
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); 
 color: #fff; 
 text-align: center; 
 display: block; 
 font-family: "simsun"; 
 font-size: 22px; 
 width: 28px; 
 height: 100px; 
 line-height: 62px; 
 margin-top: -31px; 
 position: absolute; 
 top: 50%; 
 } 
 .slider-page a:HOVER { 
 background: rgba(0, 0, 0, 0.4); 
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); 
 } 
 .slider-next { 
 left: 100%; 
 margin-left: -28px; 
 } 
body {
	background-image: url(img/timg
%20(1).jpg);
	background-image: url(img/timg
%20(1).jpg);
	background-image: url(img/%E8%83%8C%E6%99%AF%E5%9B%BE%E7%89%87.jpg);
}
