@charset "utf-8";
*{margin:0;padding:0;list-style:none;}

body{
	font-size: 14px;
	font-family: Microsoft YaHei;
	background-image: url(../img/banner.jpg);
	background-repeat: repeat-x;
}
a:hover, a:active{color:#f40;text-decoration:underline;}
.header{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 250px;
	/*	overflow: visible;
	z-index: 1001;
*/	background-image: url(../img/header%E4%B8%AD%E5%9B%BE%E7%89%87.jpg);
	background-repeat: no-repeat;
	}
.menu{
	line-height: 50px; /*背景*/
	height: 50px;
	width: 1000px;
	margin: auto;
	font-size: 13px;
	background: #0885C8;
	/*margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;*/
}
.menu li{ list-style:none;float:left;/*padding:0 10px;*/width:83px;text-align: center;background:#0885C8;}
.menu li a,link{color:#fff; text-decoration:none;}

.menu li a:hover{
	display: block;
    margin: 3px 0;
    width: 83px;
    height: 44px;
    line-height: 44px;
    background: #045480;
    color: #fff;
    text-decoration: none;
    text-align: center;
	-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
	}
.wrap{
	width: 999px;
	height: 800px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.right {
	float: right;
	height: 800px;
	width: 999px;
	border: 1px solid #69F;
}

.title {
	line-height: 30px;
	border-bottom: 1px solid #d7e1ea;/*#0F71A0;*/
	color: #0F71A0;
	font-weight: normal;
	text-indent: 10px;
	font-size: 12px;
	background-color: rgba(121, 175, 202, 0.14);
}
.three_page_title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 25px;
    color: #333;
}
.title {
	
	line-height: 30px;
	border-bottom: 1px solid #d7e1ea;/*#0F71A0;*/
	color:#0F71A0;
	font-weight: bold;
	text-indent: 10px;
	font-size:12px;
	background-color: rgba(121, 175, 202, 0.14);
}
.title_right {
	float: right;
	text-align: right;
}
 
 .main{
  margin: 0px auto;
  padding: 5px;
 width: 800px;
           
}
.main .widget {
   margin-top: 10px;
}
.main .widget small{
    font-weight: bold;
}
.main .widget .leavemessage{
   width: 500px;
  height: 200px;
  vertical-align: middle;
}
.main .btn input{
   margin-left: 50px;
}

.footer{
	clear: both;
	width: 1000px;
	margin: 0 auto;
	height: 80px;
	background-color: #CCC;
}
.footer p{
	line-height: 48px;
    height: 37px;
	text-align: center;
}
.left_two {
	float: left;
	height: 400px;
	width: 294px;
}
